.content__table{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

thead{
    display: table-header-group;
    vertical-align: middle;
}

th{
    border: 1.9px solid #a2d9f3 !important;
    
}
tbody{
    display: table-row-group;
    vertical-align: middle;
}

td{
    display: table-cell;
    padding: 1rem 2rem;

    border: 2px solid #a2d9f3 !important;
}

td > a{
    color: black;
}

td > a:hover {
    color: #a2d9f3;
}
