
.header__top{
    background: #56b5e2;
    width: 100%;
    height: auto;
    position: top;
    color: var(--color-text-primary);
}


.header__top__container{
    display: grid;
    background: #56b5e2;
    grid-template-columns: 1fr 1fr;   
}
.header__info{
    display: flex;
    justify-content: space-around;
}

.header__player{
    display: flex;
    justify-content: space-evenly;
}
.info{
    margin: auto;
}

.header__info:hover{
    cursor: pointer;
}

.header__youtube{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--color-text-primary);
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .header__info{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px){
    .header__top__container{
        display: flex;
    }
    .header__info{
        display: none;
    }
    .header__player{
        margin: auto;
        vertical-align: middle;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}