.nav__head{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}
.nav__elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin : 0rem 5rem 0rem 5rem;
}
.nav__bar{
  display: block;
}

.bars{
  display: none;
}


.dropbtn {
  background-color: white;
  color: black;
  padding: auto;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #56b5e2;}

@media screen and (max-width: 1024px){
    .nav__elements{
      display: flex;
      flex-wrap: wrap;
    }
}




/* Hide the Icon class by default */
.icon {
  display: none;
}

/* Show the Icon class when screen width is less than 600px */
@media screen and (max-width: 600px) {
  
  .nav__elements {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .dropdown {
    margin-top: 20px;
  }
  .icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .icon:hover + .nav__elements  {
    display: block;
    transition: transform 0.2s ease-in-out;
  }
  .show-nav .dropdown-content {
    display: block;
  }
}

/* Show the dropdown content when hovering over the dropdown */


